cython==3.0.11
deprecated==1.2.14
flask-cors==5.0.0
gitpython==3.1.43
mako==1.3.5
markdown==3.7
markupsafe==2.1.5
pyjwt==2.9.0
pynacl==1.5.0
pysocks==1.7.1
pyyaml==6.0.2
sqlalchemy==2.0.35
secretstorage==3.3.3
adal==1.2.7
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.1
alembic==1.13.2
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.8.0
argcomplete==3.5.0
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
azure-ai-contentsafety==1.0.0
azure-ai-documentintelligence==1.0.0
azure-ai-evaluation==1.2.0
azure-ai-inference==1.0.0b8
azure-ai-ml==1.20.0
azure-ai-projects==1.0.0b5
azure-ai-vision-imageanalysis==1.0.0
azure-cognitiveservices-speech==1.42.0
azure-common==1.1.28
azure-core==1.31.0
azure-core-tracing-opentelemetry==1.0.0b11
azure-graphrbac==0.61.1
azure-identity==1.18.0
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-network==26.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azure-monitor-opentelemetry==1.6.4
azure-monitor-opentelemetry-exporter==1.0.0b33
azure-search-documents==11.5.2
azure-storage-blob==12.23.0
azure-storage-file-datalake==12.17.0
azure-storage-file-share==12.18.0
azureml-core==1.57.0.post1
azureml-dataprep==5.1.6
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.4
azureml-fsspec==1.3.1
azureml-mlflow==1.57.0.post1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.2.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.2
contextlib2==21.6.0
contourpy==1.3.0
coverage==5.5
cryptography==43.0.1
cycler==0.12.1
databricks-sdk==0.32.3
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
deprecation==2.1.0
distlib==0.3.8
distro==1.9.0
docker==7.1.0
docstring-parser==0.16
docx==0.2.4
docx2pdf==0.1.8
duckduckgo-search==7.3.2
et-xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
eyed3==0.9.7
fastapi==0.115.7
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
fixedint==0.1.6
flask==3.0.3
flask-restx==1.3.0
fonttools==4.53.1
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
google-api-core==2.20.0
google-auth==2.35.0
googleapis-common-protos==1.65.0
gradio==5.9.1
gradio-client==1.5.2
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.66.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.0
humanfriendly==10.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.6.0
importlib-metadata==8.4.0
importlib-resources==6.5.2
ipykernel==6.29.5
ipyplot==1.1.2
ipython==8.27.0
ipywidgets==8.1.5
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jedi==0.19.1
jeepney==0.8.0
jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-widgets==3.0.13
keyring==24.3.1
kiwisolver==1.4.7
knack==0.11.0
lameenc==1.8.1
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
langsmith==0.3.3
lazy-loader==0.4
lxml==5.3.1
markdown-it-py==3.0.0
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mldesigner==0.1.0b18
mlflow==2.16.2
mlflow-skinny==2.16.2
mltable==1.6.1
more-itertools==10.6.0
moviepy==2.1.2
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msgpack==1.1.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.25.2
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.61.1
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opencv-python==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-dbapi==0.51b0
opentelemetry-instrumentation-django==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-flask==0.51b0
opentelemetry-instrumentation-langchain==0.38.5
opentelemetry-instrumentation-openai-v2==2.1b0
opentelemetry-instrumentation-psycopg2==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-urllib==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-instrumentation-wsgi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.51b0
orjson==3.10.15
packaging==24.1
pandas==2.2.3
pandoc==2.4
paramiko==3.5.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
pkginfo==1.11.1
platformdirs==4.3.6
plotly==6.0.0
plumbum==1.9.0
ply==3.11
portalocker==2.10.1
primp==0.12.1
proglog==0.1.10
prompt-toolkit==3.0.47
promptflow-core==1.17.2
promptflow-devkit==1.17.2
promptflow-tracing==1.17.2
propcache==0.2.1
proto-plus==1.24.0
protobuf==5.28.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.3
pyopenssl==24.2.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.7.1
pydash==7.0.7
pydub==0.25.1
pygments==2.18.0
pypandoc==1.15
pyparsing==3.1.4
python-dateutil==2.9.0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.20
pytube==15.0.0
pytz==2024.2
pyzmq==26.2.0
ray==2.31.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
rtclient==0.5.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.3
safehttpx==0.1.6
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
setuptools==75.1.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sqlparse==0.5.1
stack-data==0.6.2
starlette==0.45.3
strictyaml==1.7.3
sweetviz==2.3.1
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typer==0.15.1
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.1
urllib3==2.2.3
uvicorn==0.34.0
virtualenv==20.26.5
waitress==3.0.2
wcwidth==0.2.13
websockets==14.2
werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
wonderwords==2.2.0
wrapt==1.16.0
yarl==1.18.3
zipp==3.20.2
zstandard==0.23.0
autocommand==2.2.2
backports.tarfile==1.2.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
tomli==2.0.1
typeguard==4.3.0
